@model webmvc.ViewModels.PokemonViewModel

@{
    ViewData["Title"] = "Available Pokémon cards";
}

@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-danger" asp-action="Favorites">Favorites <i class="bi bi-bookmark-fill"></i> </a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(x => x.AvailablePokemons.Results.GetEnumerator().Current.Name)
            </th>
            <th class="text-end">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AvailablePokemons.Results)
        {
            var isFavorite = Model.FavoritePokemons.Any(p => p.Id.ToString() == item.Url);
        <tr>
            <td>
                    <a class="text-capitalize text-decoration-none link-dark" asp-action="Details" asp-route-id="@item.Url">@item.Name</a>
            </td>
                <td class="text-end">
                    @if (!isFavorite && Model.IsAuthenticated)
                    {
                        <a class="text-capitalize text-decoration-none link-dark" asp-action="Favor" asp-route-id="@item.Url" asp-route-name="@item.Name">
                        <i class="bi bi-bookmark">Favor</i>
                    </a>
                }
@*              <a asp-action="Unfavor" asp-route-id="@item.Url">Unfavor</a> *@            
            </td>
        </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = string.IsNullOrEmpty(Model.AvailablePokemons.Previous) ? "disabled" : "";
    var nextDisabled = string.IsNullOrEmpty(Model.AvailablePokemons.Next) ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-offset="@(Model.AvailablePokemons.Previous)"
   class="btn btn-light @prevDisabled">
    <i class="bi bi-arrow-left"></i> Previous
</a>
<a asp-action="Index"
   asp-route-offset="@(Model.AvailablePokemons.Next)"
   class="btn btn-light @nextDisabled">
    Next <i class="bi bi-arrow-right"></i>
</a>